<div>
    <h1>Whats Your Name and Favourite Number?</h1>
    <div [hidden]="!this.errorMessage">
        {{errorMessage}}
    </div>
  <form (ngSubmit)="submitForm()"
    #newUserForm="ngForm">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName"
             required
             [(ngModel)]="firstName"/>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName"
             required
             [(ngModel)]="lastName"/>
    </div>
    <div>
      <label for="favoriteNumber">Favourite Number:</label>
      <input type="number" id="favoriteNumber" name="favoriteNumber"
             required
             [(ngModel)]="favoriteNumber"/>
    </div>

    <button color="primary" mat-raised-button type="submit"
    [disabled]="!newUserForm.form.valid">Submit</button>
  </form>
</div>


<div *ngIf="success">
    <h1>Thanks for your submission!</h1>
</div>
