<div>
    <h1>Fill Out This Form to Register</h1>
    <div [hidden]="!this.errorMessage">
        {{errorMessage}}
    </div>
  <form (ngSubmit)="submitForm()"
    #newUserForm="ngForm">
    <div>
      <h2>Your Info</h2>
    </div>
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName"
             required
             [(ngModel)]="firstName"/>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName"
             required
             [(ngModel)]="lastName"/>
    </div>
    <div>
      <label for="favouriteTVShow">Favourite TV Show:</label>
      <input type="text" id="favouriteTVShow" name="favouriteTVShow"
             required
             [(ngModel)]="favouriteTVShow"/>
    </div>

    <button color="primary" mat-raised-button type="submit"
    [disabled]="!newUserForm.form.valid">Submit</button>
  </form>
</div>
